@{
    ViewBag.Title = "Home Page";
 
}

<div class="jumbotron">
    <h1>Best Office Pranks</h1>
    <p class="lead">Coop is coming so you'll need to start planning for April Fool's Day now.</p>
    <p>All content sourced from <a href="https://blog.hubspot.com/marketing/funny-office-pranks" target="_blank">https://blog.hubspot.com/marketing/funny-office-pranks</a>.</p>
    <p>"United" theme sourced from <a href="https://bootswatch.com/3/united/" target="_blank">https://bootswatch.com/3/united/</a></p>
</div>

